<section class="sidenav-content">
  <section class="nav-group collapsible">
    <input id="accounts" type="checkbox">
    <label for="accounts">Konta</label>
    <ul class="nav-list">
      <li><a class="nav-link" >Wszystkie</a></li>
    </ul>
  </section>

  <section class="nav-group collapsible">
    <input id="categories" type="checkbox">
    <label for="categories">Kategorie</label>
    <ul class="nav-list">
      <li><a class="nav-link" >Wszystkie</a></li>
    </ul>
  </section>
</section>
